.App {
  text-align: center;
  font-size: 22px;
  color: #282c34;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 700px;
  background-color: white;
}

button {
  margin: 10px;
  font-size: 18px;
  height: 65px;
  width: 150px;
  border-radius: 6px;
  border: none;
  box-shadow: 1px 1px 0px 2px rgba (0, 0, 0, 0.3);
  background: rgb(141, 217, 252);
  cursor: pointer;
}

.App-header {
  background-color: #4768a8;
  height: 15%;
  width: 100%;
  font-size: 25px;
  color: white;
}

table {
  margin-left: 15%;
}

table,
th,
td {
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  font-size: 28px;
}

.customerWindow {
  background-color: #a5b3cf;
  border-style: solid;
  width: 95%;
  margin: auto;
  border-radius: 10px;
}

input {
  height: 40px;
}

.kello {
  margin-left: 30%;
  margin-top: 10px;
}
